@page "/counter"

@inject Blazored.LocalStorage.ILocalStorageService _localStorageService;

<PageTitle>Counter</PageTitle>

<p>@token</p>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private string token;


    protected override async Task OnInitializedAsync()
    {
        token = await _localStorageService.GetItemAsync<string>("token");
    }

    private void IncrementCount()
    {
        currentCount++;
    }
}
