<AuthorizeView>
    <Authorized>
        Hola, @context.User.Identity!.Name!
        <a href="LogOut"> Log Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="Register">Register</a>
        <a href="Login">Log In</a>
    </NotAuthorized>
</AuthorizeView>