.custom-image {
    width: 200px;
    height: auto;
}
.custom-font {
    font-family: "Arial", sans-serif; /* Cambia "Arial" por la fuente deseada */
    font-size: 16px; /* Ajusta el tamaño de la fuente deseado */
    color: blue;
}