.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 10px; 
}

.custom-image {
    width: 350px;
    height: auto;
}
.custom-font {
    font-family: "Arial", sans-serif; 
    font-size: 16px; 
    color: blue;
}