@page "/"
@using Test.Client.Interfaces;
@using Test.Client.Services;
@using Test.Shared.Entities.DataBase;
@using Test.Shared.Entities;
@inject IProductServices productServices
@inject NavigationManager NavigationManager
@inject IModalService modal
<div class="container">
    <div class="container-fluid">
        <MudText Typo="Typo.h3" class="p-3 text-center">Home Page</MudText>
        <hr />
        <MudCard Class="p-4">
            <MudCardContent>
                <MudText>Just a page to test my skills at C# .net core 6 and blazor with identity, JWT and entityFramework with migrations</MudText>
                <MudText>Enjoy it</MudText>
            </MudCardContent>
        </MudCard>
       
    </div>

</div>
