@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@inject Test.Client.AuxLogin.RebuildToken rebuild
@inject AuthenticationStateProvider AuthenticationStateProvider

<div class="page">
    <CascadingAuthenticationState>
        <div class="sidebar">
            <NavMenu />
        </div>

        <main>
            <div class="top-row px-4">
                <AuthorizeView>
                    <Authorized>
                        <span>Hola, @context.User.Identity!.Name</span>
                        <a href="Logout" class="nav-link btn btn-link">Log out</a>
                    </Authorized>
                    <NotAuthorized>
                        <div class="top-row px-4">
                            <a href="Register">Registro</a>
                            <a href="Login" class="nav-link btn btn-link">Login</a>
                        </div>
                    </NotAuthorized>
                </AuthorizeView>
            </div>
            <article class="content px-4">
                @Body
            </article>
        </main>
    </CascadingAuthenticationState>
</div>


@code {
    protected override void OnInitialized()
    {
        rebuild.Iniciar();
    }
}
